<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1> {{ site.name }} </h1>
        <div class="tagline">
          <h2> {{ site.tagline }} </h2>
          <a class="tagline__link" href="/" target="">POSTS</a>
        </div>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>
        <aside id="sidebar">
          <div class="sidebar__content"> <div>
            <img class="profile-pic" src="/images/profile-pic.jpg" alt="profile-pic" height="142" width="142">
            <ul class="sidebar__contact-information">
              <li>glenegbert1@gmail.com</li>
              <li>
                <a href="https://twitter.com/glenegbert" class="fa fa-twitter" target="_blank"> @glenegbert</a>
              </li>
              <li>
                <a href="https://github.com/glenegbert" class="fa fa-github" target="_blank"> glenegbert</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/glen-egbert-5b67947" class="fa fa-linkedin" target="_blank"> Glen Egbert</a>
              </li>
        </div>
      </div>
    </div>

  </body>
</html>
